* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: rgb(81, 81, 81);
  }

  ul, ol {
    list-style: none
  }

  .header_container {
    margin: 0 auto;
    width: 1140px;
    padding: 0 ;
  }

  a {
    text-decoration: none;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .header-nav {
    padding-top: 35px;
    padding-bottom: 38px;
    line-height: 32px;
  }
  
  .logo {
    float: left;
    margin: 0;
  }
  
  .logo::first-letter {
    font-weight: 900;
    color: rgb(26, 188, 156);
  }
  
  .logo__heading {
    font-size: 30px;
    letter-spacing: -0.6px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .header-nav__menu {
    float: right;
  }
  
  .header-nav__menu-link {
    float: left;
    margin-left: 35px;
    text-transform: uppercase;
    font-weight: 900;
    list-style: none;
  }
  
  .header-nav__menu-link a {
    font-size: 14px;
    letter-spacing: -0.28px;
    color: rgb(15, 1, 1);
    transition: all 0.3s;
  }
  
  .header-nav__menu-link a:hover {
    color: rgb(26, 188, 156);
  }

  .slider {
    margin: 0 auto;
    padding: 0; 
    position: relative;                                                                        
  }

  .wrapper {
    width: 1111px;
    height: 105px;
    z-index: 2;
    position: absolute;
    top: 44%;
    left: 52%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 10px;
  }

  .box {      
    background: rgba(26,188,156,0.5);
    width: 104px;
    height: 104px;
    font-family: sans-serif;
    font-size: 26px;
    text-align: center;
    line-height: 120px;
  }   

  .box:hover {
    background-color: rgb(26, 188, 156);
  }

  .left { 
    background-image: url(../img/prev.png);
    float: left; 
    background-repeat: no-repeat;
    background-position: center;
  }
  .right { 
    background-image: url(../img/next.png);
    float: right;
    background-repeat: no-repeat; 
    background-position: center;
  }

  .slider-icon-left {
    background-image: url(../img/prev.png);
    background-color: #1abc9c;
    width: 104px;
    height: 104px;
    background-repeat: no-repeat; 
    position: absolute;
    margin-right: 10px;
    bottom: 25px;
    left: 1%;
    background-position: center;
  }

  .slider-icon-right {
    background-image: url(../img/next.png);
    background-color: #1abc9c;
    width: 104px;
    height: 104px;
    background-repeat: no-repeat; 
    position: absolute;
    margin-left: 1010px;
    bottom: 25px;
    background-position: center;
  }

  .slider__img {
    margin: 0 auto;
    padding: 0;
    z-index: 0;
    filter: brightness(55%);
  }

  .heading_text {
    z-index: 3;
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);

  }

  .heading_text_h2{
    width: 772px;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 82px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
  }

  .heading_text_h3{
    width: 772px;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 82px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 200;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .clearfix::after {
    display: table;
    content: "";
    clear: both;
  }

  .container {
    position: relative;
    margin: 0 auto;
    background-color: #e9f0fd;
    text-align: center;
  }

  .featured-products {
    padding-top: 100px;
    padding-bottom: 80px;
    height: 174px;
    background-color: #e9f0fd;
    text-align: center;
  }

  .heading-h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: -0.96px;
    text-transform: uppercase;
  }
  
  .heading-h2::after {
    content: "";
    margin: 20px auto 0px;
    display: block;
    width: 164px;
    height: 7px;
    background-color: rgb(26, 188, 156);
  }

  .collection {
    display: block;
    text-align: center;
    width: 1111px;
    height: 502px;
  }

  .list {
    width: 1111px;
    height: 322px;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .list-item {
    float: left;
    position: relative;
    border: rgba(0,0,0,0.5);
  }

  .list-item:hover .overlay {
    display: block;
  }

  .list-item:not(:last-child) {
    margin-right: 30px;
  }

  .overlay {
    width: 255px;
    height: 282px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    border: 10px solid rgb(255, 255, 255, 0.5);
    background-clip: padding-box;
    display: none;
  }

  .overlay__list-item-link {
    display: block;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;    
    background-position: center;
    border: 1px solid #ffffff;
  }

  .overlay__list-item-link_like:hover {
    background-color: rgb(26, 188, 156);
  }

  .overlay__list-item-link_shuffle:hover {
    background-color: rgb(26, 188, 156);
  }

  .overlay__list-item-link_clock:hover {
    background-color: rgb(26, 188, 156);
  }

  .overlay__list-item-link_cart:hover {
    background-color: #323232;
  }

  .overlay__list-item-link_like {
    background-image: url(../img/heart.png);
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }

  .overlay__list-item-link_clock {
    background-image: url(../img/clock.png);
    width: 50px;
    height: 50px;
  }

  .overlay__list-item-link_shuffle {
    background-image: url(../img/shuffle.png);
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }

  .overlay__list-item-link_cart {
    background-image: url(../img/truck.png);
    width: 166px;
    height: 50px;
    margin-top: 7px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    position: relative;
  }

  .button-cart {
    width: 166px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0%;
    text-indent: 30px; 
    line-height: 46px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
  }

  .overlay__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay__list-item {
    float: left;
  }

  .product-card__line-price {
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    background-color: rgb(50, 50, 50);
    transition: all 0.3s;
  }
  
  .product-card__name a {
    float: left;
    padding-left: 14px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  
  .product-card__price {
    float: right;
    text-align: center;
    width: 54px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.44);
  }

  .product-card__line-price:hover {
    background-color: rgb(26, 188, 156);
  }

  .footer {
    margin: 0 auto;
    padding: 0;
    height: 88px;
    background: #323232;
    margin: auto;
  }
  .footer-item {
    height: 88px;
    position: relative
  }
  
  .footer_text {
    font-size: 16px;
    color: #fefefe;
    font-family: "Open Sans";
    font-weight: 400;
    position: absolute;               
    top: 50%;   
    left: 50%;                      
    transform: translate(-50%, -50%)
  }

  .themengraph {
    color: #1abc9c;
  }